h1{
    text-align: center;
    color: map-get($colores,"text-title" );
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1rem;
    font-size: 3rem;
    font-style: inherit;
}

.subtitulos__h2{
    color: rgb(192, 181, 167);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    }

main {
    background-color: rgb(14, 13, 13);
}

.btn{color: rgb(32, 31, 30);
    font-size: 1.3rem;
    border-radius: 8%;
    background-color: bisque;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(247, 247, 247, 0.24),0 17px 50px 0 rgba(216, 200, 200, 0.19);
    justify-content: center;
}
