@mixin super-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin campos {
    background: rgb(19, 18, 18); 
        
    color: map-get($colores , "naranja" );
    border-radius: 4%;
   
    border: 0.1rem solid rgb(224, 166, 94);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: center;
}