.section__recomendaciones{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: rgb(51,33,68);
    background: map-get($colores,"gradient-1");
    height: 100%;
    div a img {
        height: 20rem;
    
    }
    }

    .select__filtro{
        background-color: rgb(14, 13, 13);
        border: 0.1rem solid map-get($colores ,"naranja");
        margin-top: 0.4rem;
        color: rgb(192, 181, 167);
    }
    
    .etiqueta{
      
        @include campos;
color: map-get($colores ,"text-title" )
    }

    .selector {
       @include campos;
    }